{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {},
  "parser": "@typescript-eslint\\parser\\dist\\index.js",
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "babelOptions": {
      "presets": ["next/babel"],
      "caller": {
        "supportsTopLevelAwait": true
      }
    },
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react-hooks",
    "@next/next",
    "jsx-a11y",
    "react",
    "import",
    "@typescript-eslint"
  ],
  "rules": {
    "import/no-anonymous-default-export": ["warn"],
    "react/react-in-jsx-scope": ["off"],
    "react/prop-types": ["off"],
    "jsx-a11y/alt-text": [
      "warn",
      {
        "elements": ["img"],
        "img": ["Image"]
      }
    ],
    "jsx-a11y/aria-props": ["warn"],
    "jsx-a11y/aria-proptypes": ["warn"],
    "jsx-a11y/aria-unsupported-elements": ["warn"],
    "jsx-a11y/role-has-required-aria-props": ["warn"],
    "jsx-a11y/role-supports-aria-props": ["warn"],
    "@next/next/no-css-tags": [1],
    "@next/next/no-sync-scripts": [1],
    "@next/next/no-html-link-for-pages": [1],
    "@next/next/no-img-element": [1],
    "@next/next/no-unwanted-polyfillio": [1],
    "@next/next/no-page-custom-font": [1],
    "@next/next/no-title-in-document-head": [1],
    "@next/next/google-font-display": [1],
    "@next/next/google-font-preconnect": [1],
    "@next/next/link-passhref": [1],
    "@next/next/next-script-for-ga": [1],
    "@next/next/no-document-import-in-page": [2],
    "@next/next/no-head-import-in-document": [2],
    "@next/next/no-script-in-document": [2],
    "@next/next/no-script-in-head": [2],
    "@next/next/no-server-import-in-page": [2],
    "@next/next/no-typos": [1],
    "@next/next/no-duplicate-head": [2],
    "@next/next/inline-script-id": [2],
    "react-hooks/rules-of-hooks": ["error"],
    "react-hooks/exhaustive-deps": ["warn"],
    "react/display-name": [2],
    "react/jsx-key": [2],
    "react/jsx-no-comment-textnodes": [2],
    "react/jsx-no-duplicate-props": [2],
    "react/jsx-no-target-blank": [2],
    "react/jsx-no-undef": [2],
    "react/jsx-uses-react": [2],
    "react/jsx-uses-vars": [2],
    "react/no-children-prop": [2],
    "react/no-danger-with-children": [2],
    "react/no-deprecated": [2],
    "react/no-direct-mutation-state": [2],
    "react/no-find-dom-node": [2],
    "react/no-is-mounted": [2],
    "react/no-render-return-value": [2],
    "react/no-string-refs": [2],
    "react/no-unescaped-entities": [2],
    "react/no-unknown-property": [2],
    "react/no-unsafe": [0],
    "react/require-render-return": [2],
    "@typescript-eslint/adjacent-overload-signatures": ["error"],
    "@typescript-eslint/ban-ts-comment": ["error"],
    "@typescript-eslint/ban-types": ["error"],
    "no-array-constructor": ["off"],
    "@typescript-eslint/no-array-constructor": ["error"],
    "no-empty-function": ["off"],
    "@typescript-eslint/no-empty-function": ["error"],
    "@typescript-eslint/no-empty-interface": ["error"],
    "@typescript-eslint/no-explicit-any": ["warn"],
    "@typescript-eslint/no-extra-non-null-assertion": ["error"],
    "no-extra-semi": ["off"],
    "@typescript-eslint/no-extra-semi": ["error"],
    "@typescript-eslint/no-inferrable-types": ["error"],
    "no-loss-of-precision": ["off"],
    "@typescript-eslint/no-loss-of-precision": ["error"],
    "@typescript-eslint/no-misused-new": ["error"],
    "@typescript-eslint/no-namespace": ["error"],
    "@typescript-eslint/no-non-null-asserted-optional-chain": ["error"],
    "@typescript-eslint/no-non-null-assertion": ["warn"],
    "@typescript-eslint/no-this-alias": ["error"],
    "@typescript-eslint/no-unnecessary-type-constraint": ["error"],
    "no-unused-vars": ["off"],
    "@typescript-eslint/no-unused-vars": ["warn"],
    "@typescript-eslint/no-var-requires": ["error"],
    "@typescript-eslint/prefer-as-const": ["error"],
    "@typescript-eslint/prefer-namespace-keyword": ["error"],
    "@typescript-eslint/triple-slash-reference": ["error"],
    "constructor-super": ["error"],
    "for-direction": ["error"],
    "getter-return": ["error"],
    "no-async-promise-executor": ["error"],
    "no-case-declarations": ["error"],
    "no-class-assign": ["error"],
    "no-compare-neg-zero": ["error"],
    "no-cond-assign": ["error"],
    "no-const-assign": ["error"],
    "no-constant-condition": ["error"],
    "no-control-regex": ["error"],
    "no-debugger": ["error"],
    "no-delete-var": ["error"],
    "no-dupe-args": ["error"],
    "no-dupe-class-members": ["error"],
    "no-dupe-else-if": ["error"],
    "no-dupe-keys": ["error"],
    "no-duplicate-case": ["error"],
    "no-empty": ["error"],
    "no-empty-character-class": ["error"],
    "no-empty-pattern": ["error"],
    "no-ex-assign": ["error"],
    "no-extra-boolean-cast": ["error"],
    "no-fallthrough": ["error"],
    "no-func-assign": ["error"],
    "no-global-assign": ["error"],
    "no-import-assign": ["error"],
    "no-inner-declarations": ["error"],
    "no-invalid-regexp": ["error"],
    "no-irregular-whitespace": ["error"],
    "no-misleading-character-class": ["error"],
    "no-mixed-spaces-and-tabs": ["error"],
    "no-new-symbol": ["error"],
    "no-nonoctal-decimal-escape": ["error"],
    "no-obj-calls": ["error"],
    "no-octal": ["error"],
    "no-prototype-builtins": ["error"],
    "no-redeclare": ["error"],
    "no-regex-spaces": ["error"],
    "no-self-assign": ["error"],
    "no-setter-return": ["error"],
    "no-shadow-restricted-names": ["error"],
    "no-sparse-arrays": ["error"],
    "no-this-before-super": ["error"],
    "no-undef": ["error"],
    "no-unexpected-multiline": ["error"],
    "no-unreachable": ["error"],
    "no-unsafe-finally": ["error"],
    "no-unsafe-negation": ["error"],
    "no-unsafe-optional-chaining": ["error"],
    "no-unused-labels": ["error"],
    "no-useless-backreference": ["error"],
    "no-useless-catch": ["error"],
    "no-useless-escape": ["error"],
    "no-with": ["error"],
    "require-yield": ["error"],
    "use-isnan": ["error"],
    "valid-typeof": ["error"]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "C:\\Users\\Celecis\\Documents\\GitHub\\TP-Recruiter-APP\\recruiter-app\\node_modules\\@typescript-eslint\\parser\\dist\\index.js": [
        ".ts",
        ".tsx",
        ".d.ts"
      ]
    },
    "import/resolver": {
      "C:\\Users\\Celecis\\Documents\\GitHub\\TP-Recruiter-APP\\recruiter-app\\node_modules\\eslint-import-resolver-node\\index.js": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "C:\\Users\\Celecis\\Documents\\GitHub\\TP-Recruiter-APP\\recruiter-app\\node_modules\\eslint-import-resolver-typescript\\lib\\cjs.js": {
        "alwaysTryTypes": true
      }
    }
  },
  "ignorePatterns": ["node_modules", ".next", "/*.js", ".env"]
}
